<ion-header class="ion-no-border">
  <ion-toolbar  style="--background: rgb(246, 244, 235);">
    <ion-title>Editar Actividad Física</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-deportes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Imagen URL: </ion-label>
        <ion-input [(ngModel)]="deporte.imagenDeporteURL" type="text" (ionFocus)="clearInput('imagenDeporteURL')"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input [(ngModel)]="deporte.nombreDeporte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar:</ion-label>
        <ion-input [(ngModel)]="deporte.lugarDeporte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentario:</ion-label>
        <ion-input [(ngModel)]="deporte.comentarioDeporte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valoración:</ion-label>
        <ion-input [(ngModel)]="deporte.valoracionEntrenamiento" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha:</ion-label>
        <br>
        <ion-input [(ngModel)]="deporte.fechaDeporte" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="deporte.fotoCamaraDeporte" type="text" (ionFocus)="clearInput('fotoCamaraDeporte')"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <br>

      <ion-button expand="block" (click)="actualizarDeporte()">Actualizar Deporte</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
