<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Editar Manualidad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-deportes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Imagen URL: </ion-label>
        <ion-input [(ngModel)]="arte.imagenArteURL" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="arte.nombreArte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción:</ion-label>
        <ion-input [(ngModel)]="arte.descripcionArte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Materiales o ténicas: </ion-label>
        <ion-input [(ngModel)]="arte.materialesArte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valoración: </ion-label>
        <ion-input [(ngModel)]="arte.valoracionArte" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="arte.fotoCamaraArte" type="text"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <!--<ion-button (click)="abrirGaleria()">Abrir Galería</ion-button>-->
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <br>


      <ion-button expand="block" (click)="actualizarArte()">Actualizar Manualidad </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

