<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home.page"></ion-back-button>
    </ion-buttons>

    <ion-title>Sugerencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list-header>
      <ion-title>
        Top 100 películas
      </ion-title>
    </ion-list-header>
    <ion-list class="scrollable-list">  
    <ion-item *ngFor="let pelicula of peliculas">
      <ion-label><h4>{{pelicula.rank}} {{pelicula.title}} "({{pelicula.year}})"</h4>
        <img [src]="pelicula.image" alt="Imagen de la película">
      </ion-label>
     
    </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
