ion-card{
    background-color: rgb(246, 244, 235);
    padding-top: 0%;
}

ion-title{
    text-align: center;
}

ion-item{
    background: rgb(116, 155, 194);
}

.center-buttons {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 10px;                
  }
  


