<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<!--Cards contenido de libros-->
<ion-tabs>
<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <ion-card (click)="ingresaraorgullo()">
    <ion-card-header>
      <ion-card-title>Mis libros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="img Orgullo y prejuicio" src="assets/Imagenes/Orgullo y prejuicio.jpeg" />
          </ion-thumbnail>
          <ion-label>Orgullo y prejuicio </ion-label>
        </ion-item>
       
      </ion-list>
    </ion-card-content>
  </ion-card> 

  <!--Fab-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" bottom="100px">
    <ion-fab-button [routerLink]="['/registrolibros']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!--Tab-->
<ion-footer>
  <!-- Tab pestañas con ion-segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="sugerencias">
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="configuracion">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>








  



