<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(246, 244, 235);">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-deportes"></ion-back-button>
    </ion-buttons>
    <ion-title>Registra tus juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <div class="ion-padding-vertical">
    <ion-card-title>
      <ion-label>
        <h1 style="text-align: center;">Formulario para agregar Juegos </h1>
      </ion-label>
    </ion-card-title>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="fotoCamaraJuego" type="text"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="!fotoCamaraJuego && formTouched">La foto es obligatoria.</ion-text>
      
      <ion-item>
        <ion-label position="floating">Nombre: </ion-label>
        <ion-input [(ngModel)]="nombreJuego"  type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!nombreJuego && formTouched">El nombre es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Descripción: </ion-label>
        <ion-input [(ngModel)]="descripcionJuego" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!descripcionJuego && formTouched">La descripción es obligatoria.</ion-text>

      <ion-item>
        <ion-label position="floating">Formato (Físico o digital, otro): </ion-label>
        <ion-input [(ngModel)]="formatoJuego" type="area"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formatoJuego && formTouched">El fomato es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Valoración: </ion-label>
        <ion-input [(ngModel)]="valoracionJuego"type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(valoracionJuego < 1 || valoracionJuego > 10) && formTouched">
        La valoración debe estar entre 1 y 10.
      </ion-text>
      <br>
      <ion-button  (click)="agregarJuego()"> Guardar Juego </ion-button>
      <br>
    </ion-card-content>
