<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(246, 244, 235);">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: rgb(246, 244, 235);">
  
  <!--Card con información del login-->
  <ion-card>
    <h3>Ociosos Track</h3>
    <img  #imgLogin alt="imagenOciososTrack" src="assets/Imagenes/OciososSinFondo.png" />
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="loginForm">
      <ion-item>
        <ion-input formControlName="correoLogin" label="Correo" labelPlacement="stacked" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="contrasenaLogin" label="Contraseña" type="password" labelPlacement="stacked" placeholder="Contraseña"></ion-input>
      </ion-item>
      </form>
      <br>
      <ion-button id = "botonIngresar"class="btn-block" expand="block" (click)="login()">Ingresar</ion-button>
      <br>
      <ion-button id = "botonIngresar"class="btn-block" expand="block" (click)="ingresarRegistro()">Regístrate</ion-button>
      <br>
      <ion-button fill="clear" (click)="redirigeContrasena()">¿Olvidaste tu contraseña?</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>