ion-content{
    --ion-background-color:rgb(246, 244, 235);
}

ion-header{
    --ion-background-color:rgb(246, 244, 235);
}

ion-toolbar{
    background-color: rgb(246, 244, 235);
}

ion-title{
    color: rgba(88,88,87,255);
}
