<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Streaming</ion-title>
  </ion-toolbar>
</ion-header>

<!--Cards contenido de Series-->
<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <ng-container *ngIf="streamings.length > 0">
  <ion-card *ngFor="let streaming of streamings">  
    <ion-card-header>
      <ion-card-title style="font-size: large;">{{streaming.tituloStreaming}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item style="justify-content: center;">
          <img [src]="streaming.imagenStreamingURL" alt="Imagen del streaming" />
        </ion-item>
        <ion-item>
          <ion-label>Plataforma: {{ streaming.plataformaStreaming }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Valoración: {{ streaming.valoracionStreaming }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Comentario: {{ streaming.comentarioStreaming }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="streaming.fotoStreaming" alt="Imagen del streaming" />
          </ion-thumbnail>
        </ion-item>
        <div class="center-buttons">
        <ion-button (click)="editarStreaming(streaming.idStreaming)">Editar</ion-button>
        <ion-button color="danger" (click)="eliminarStreaming(streaming.idStreaming)">Eliminar</ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ng-container>

  <!--Fab-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" bottom="100px">
    <ion-fab-button [routerLink]="['/registrostreaming']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!--Tab-->
<ion-footer>
  <!-- Tab pestañas con ion-segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="sugerencias">
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="configuracion">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
