<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">
    <ion-title>Registra tus lecturas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <div class="ion-padding-vertical">
    <ion-card-title>
      <ion-label>
        <h1 style="text-align: center;">Formulario para agregar libros</h1>
      </ion-label>
    </ion-card-title>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">IMAGEN URL: </ion-label>
        <ion-input [(ngModel)]="imagenLibroURL" type="img"></ion-input>
      </ion-item> 
      <ion-text color="danger" *ngIf="!imagenLibroURL && formTouched">La imagen obligatoria.</ion-text>
                
      <ion-item>
        <ion-label position="floating">Título: </ion-label>
        <ion-input [(ngModel)]="tituloLibro"  type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!tituloLibro && formTouched">El título es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Autor: </ion-label>
        <ion-input [(ngModel)]="autorLibro" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!autorLibro && formTouched">El autor es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Comentario: </ion-label>
        <ion-input [(ngModel)]="comentarioLibro" type="area"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!comentarioLibro && formTouched">El comentario es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Valoración: </ion-label>
        <ion-input [(ngModel)]="valoracionLibro"type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(valoracionLibro < 1 || valoracionLibro > 10) && formTouched">
        La valoración debe estar entre 1 y 10.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="fotoCamaraLibro" type="text"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <!--<ion-button (click)="abrirGaleria()">Abrir Galería</ion-button>-->
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="!fotoCamaraLibro && formTouched">La foto es obligatoria.</ion-text>
      <br>

      <ion-button (click)="agregarLibros()"> Guardar Libro </ion-button>

    </ion-card-content>
