<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="esHomeRuta()" style="--background: rgb(246, 244, 235);">
    <ion-title>Tus intereses</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Solo muestra el contenido de las categorías cuando estamos en la ruta principal de home -->
<ion-content [fullscreen]="true" *ngIf="esHomeRuta()" style="--padding-top: 0; --background: rgb(246, 244, 235);">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="ingresarListadoLibros()" style="--padding-top: 0;" class="shadow-pop-tr">
          <img alt="img libros home" src="assets/Imagenes/Libroshome.webp" />
          <ion-card-header>
            <ion-card-title>Libros</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="ingresarListadoSeries()" style="--padding-top: 0;" class="shadow-pop-tr">
          <img alt="img series home" src="assets/Imagenes/serieshome.jpg" />
          <ion-card-header>
            <ion-card-title>Series</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="gcerrarSesion()">Cerrar sesión</ion-button>
</ion-content>

<!-- Tabs que deben contener un ion-router-outlet -->
<ion-tabs>
  <ion-router-outlet></ion-router-outlet> <!-- Aquí se cargan las rutas hijas como cuenta, sugerencias, etc. -->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sugerencias">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>Sugerencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Fab button solo cuando estás en la página home -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end" style="bottom: 100px" *ngIf="esHomeRuta()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
