<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="esHomeRuta()" style="--background: rgb(246, 244, 235);">
    <ion-title>Tus intereses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="has-header" [fullscreen]="true" style="--padding-top: 0; --background: rgb(246, 244, 235);">
  <ng-container *ngIf="esHomeRuta(); else segmentOutlet">
    <!-- Contenido principal de home -->
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card (click)="ingresarListadoLibros()" style="--padding-top: 0;" class="shadow-pop-tr">
            <img alt="img libros home" src="assets/Imagenes/Libroshome.webp" />
            <ion-card-header>
              <ion-card-title>Lecturas</ion-card-title>
            </ion-card-header>
          </ion-card>
          <br>
          <ion-card (click)="ingresarListadoSeries()" style="--padding-top: 0;" class="shadow-pop-tr">
            <img alt="img series home" src="assets/Imagenes/serieshome.jpg" />
            <ion-card-header>
              <ion-card-title>Streaming</ion-card-title>
            </ion-card-header>
          </ion-card>
          <br>
          <ion-card (click)="ingresarListadoDeportes()" style="--padding-top: 0;" class="shadow-pop-tr">
            <img alt="img deportes home" src="assets/Imagenes/actividadfisica-scaled.jpg" />
            <ion-card-header>
              <ion-card-title>Deportes</ion-card-title>
            </ion-card-header>
          </ion-card>
          <br>
          <ion-card (click)="ingresarListadoArtes()" style="--padding-top: 0;" class="shadow-pop-tr">
            <img alt="img artes home" src="assets/Imagenes/artes.avif" />
            <ion-card-header>
              <ion-card-title>Manualidades</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  
  <ng-template #segmentOutlet>
    <ion-router-outlet></ion-router-outlet>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="sugerencias">
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="configuracion">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>