<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">
    <ion-title>Registra tus streaming</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-series"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <div class="ion-padding-vertical">
    <ion-card-title>
      <ion-label>
        <h1 style="text-align: center;">Formulario para agregar streaming</h1>
      </ion-label>
    </ion-card-title>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="fotoStreaming" type="text"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="!fotoStreaming && formTouched">La foto es obligatoria.</ion-text>
                
      <ion-item>
        <ion-label position="floating">Título: </ion-label>
        <ion-input [(ngModel)]="tituloStreaming"  type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!tituloStreaming && formTouched">El título es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Plataforma: </ion-label>
        <ion-input [(ngModel)]="plataformaStreaming" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!plataformaStreaming && formTouched">La plataforma es obligatoria.</ion-text>

      <ion-item>
        <ion-label position="floating">Comentario: </ion-label>
        <ion-input [(ngModel)]="comentarioStreaming" type="area"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!comentarioStreaming && formTouched">El comentario es obligatorio.</ion-text>

      <ion-item>
        <ion-label position="floating">Valoración: </ion-label>
        <ion-input [(ngModel)]="valoracionStreaming"type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(valoracionStreaming < 1 || valoracionStreaming > 10) && formTouched">
        La valoración debe estar entre 1 y 10.
      </ion-text>

      <br>
      <ion-button (click)="agregarStreaming()"> Guardar Streaming </ion-button>
      <br>
    </ion-card-content>
