<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">
    <ion-title>Registra tus actividades físicas </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-deportes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <div class="ion-padding-vertical">
    <ion-card-title>
      <ion-label>
        <h1 style="text-align: center;">Formulario para agregar actividad física </h1>
      </ion-label>
    </ion-card-title>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">IMAGEN URL: </ion-label>
        <ion-input [(ngModel)]="imagenDeporteURL" type="img"></ion-input>
      </ion-item> 
                
      <ion-item>
        <ion-label position="floating">Título: </ion-label>
        <ion-input [(ngModel)]="nombreDeporte"  type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar: </ion-label>
        <ion-input [(ngModel)]="lugarDeporte" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentario: </ion-label>
        <ion-input [(ngModel)]="comentarioDeporte" type="area"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valoración: </ion-label>
        <ion-input [(ngModel)]="valoracionEntrenamiento"type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha del Entrenamiento: </ion-label>
        <ion-input [(ngModel)]="fechaDeporte"type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto:</ion-label>
        <ion-input [(ngModel)]="fotoCamaraDeporte" type="text"></ion-input>
        <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
        <!--<ion-button (click)="abrirGaleria()">Abrir Galería</ion-button>-->
        <ion-icon name="images-outline" (click)="abrirGaleria()">Galería</ion-icon>
      </ion-item>
      <br>

      <ion-button  (click)="agregarDeporte()"> Guardar Actividad Física </ion-button>

    </ion-card-content>
