<ion-header class="ion-no-border" >
  <ion-toolbar style="--background: rgb(246, 244, 235);">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Actividad Física</ion-title>
  </ion-toolbar>
</ion-header>

<!--Cards contenido de Series-->
<ion-content [fullscreen]="true" style ="--background: rgb(246, 244, 235);">
  <ng-container *ngIf="deportes.length > 0">
  <ion-card *ngFor="let deporte of deportes">  
    <ion-card-header>
      <ion-card-title style="font-size: large;">{{deporte.nombreDeporte}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item style="justify-content: center;">
          <img [src]="deporte.imagenDeporteURL" alt="Imagen del Deporte" />
        </ion-item>
        <ion-item>
          <ion-label>Lugar: {{ deporte.lugarDeporte }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Valoración: {{ deporte.valoracionEntrenamiento }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Comentario: {{ deporte.comentarioDeporte }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha: {{ deporte.fechaDeporte }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="deporte.fotoCamaraDeporte" alt="Imagen del Deporte" />
          </ion-thumbnail>
        </ion-item>
        <div class="center-buttons">
        <ion-button (click)="editarDeporte(deporte.idDeporte)">Editar</ion-button>
        <ion-button color="danger" (click)="eliminarDeporte(deporte.idDeporte)">Eliminar</ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ng-container>

  <!--Fab-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" bottom="100px">
    <ion-fab-button [routerLink]="['/registrodeporte']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!--Tab-->
<ion-footer>
  <!-- Tab pestañas con ion-segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="sugerencias">
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="configuracion">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
